div, span {
    width: 80px;
    height: 80px;
    margin: 20px;
    background: peru;
}

div {
    background: rebeccapurple;
    display: inline-block;
}

span {
    background: blue;
    display: block;
}